* {
    box-sizing: border-box;
}

@font-face {
    font-family: "fonti";
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
    margin: 0;
    height: 100vh;
}

.img2  {
    width: 469px;
    height: 100vh;
}

.divi {
    display: flex;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form {
    width: 340px;
    height: 372px;
    background-color: white;
    font-family: "fonti";
}

.h33 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: start;
}

.ptag1 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
}

.google {
    width: 100%;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.btn1 {
width: 100%;
height: 48px;
font-size: 16px;
font-weight: 700;
line-height: 26px;
background-image: url("btn.png");
background-repeat: no-repeat;
background-position: 4px center;
background-size: 40px;
color: white;
background-color: #4285F4;
border-radius: 2px;
padding: 2px;
border: 0;
}

.inp1 {
    width: 100%;
    height: 48px;
    background-image: url("Vector.png");
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 4px;
    border: 1px solid;
    border-color: #E5E7EB;
    outline: none;
    padding-left: 25px;
}

.div1 {
    display: flex;
    width: 100%;
}

hr {
    width: 100%;
}

a:link {
    margin-top: 15px;
    margin-left: 10px;
}
.ptag2 {
    color: #6B7280;
}

.btn2 {
    width: 100%;
    height: 48px;
    background-color: #724DFF;
    color: white;
    border: 0;
    border-radius: 6px;
}

.ptag3 {
font-size: 14px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #6B7280;
}

@media screen and (max-width: 768px) {

    .form {
        width: 100%;
    }

    .img1 {
        border-radius: 50%;
    }

   .img2 {
    display: none;
   }
}
    

